/*********** HEADER **********/
#header {
	background-color: #555a5a;
	margin-top: 0px;
}

.navbar-inverse.nav-upper {
	height: 50px;
	background-color: #555a5a;
}
.navbar-inverse.nav-upper ul {
	float: right;
	display: table;
}
.navbar-inverse.nav-upper .navbar-upper > li {
	display: table-cell;
	font-size: 14px;
}
.navbar-inverse.nav-upper .navbar-upper > li > a {
	color: #777;
}
@media (min-width: 768px) {
	.navbar.navbar-lower .navbar-nav {
		margin-left: 100px;
	}
}
.navbar-logo {
	background-image: url('https://lh3.googleusercontent.com/-tw5LsU4Fg28/Umo6BBcoCnI/AAAAAAAAmjE/1iqULsem06E/w896-h896/heisencat.png');
	width: 90px;
	height: 90px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	top: 5px;
	left: 15px;
	z-index: 1051;
}

.call{
	float:left;
	margin-left: 128px;
	padding-top: 10px;
}
.call p{
	font-size:0.9em;
	color:#9C9C9C;
}
.call p span{
	color:#303030;
	font-size:1em;
	font-weight:bold;
}
.call p span.number{
	color:#E4292F;
	font-size:1em;
	letter-spacing:1px;
}

/************** FOOTER ***************/
#footer {
	 background-color: #555a5a;
	 padding-bottom: 15px;
 }

/************** SIDE NAV ***************/
.sidenav {
	float: left;
	width: 25%;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav a {
	padding: 6px 6px 6px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.main {
	margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}
